nav{
    width: 100%;
    background-color: var(--base-secondary);
    position: sticky;
    top: 0;
    z-index: 50;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--base-color);
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
nav .logo img{
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 10px;
}
nav .logo h5{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
}
nav .nav-group{
    display: contents;
}
nav .nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav .nav-links .nav-link {
    font-family: var(--decorative-font);
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}
nav .nav-links .nav-link:hover{
    text-decoration: underline;
}
nav .nav-btns{
    display: flex;
    gap: 15px;
    list-style: none;
}
nav .nav-btns .nav-btn {
    font-family: var(--decorative-font);
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 0.75rem 2rem;
    padding-bottom: 1.25rem;
    background-color: var(--subtle-two);
    border: 1px solid var(--border-color);
}
nav .nav-btns .nav-btn :hover{
    background-color: var(--subtle-two-light);
}
nav .nav-btns .nav-btn :active{
    background-color: var(--subtle-two);
}
#sidebar-check, #sidebar-open, #sidebar-close, #sidebar-overlay{
    display: none;
}

@media(max-width: 1000px) {
    #sidebar-open, #sidebar-close{
        display: inline-block;
        cursor: pointer;
    }
    #sidebar-check:checked ~ #sidebar-overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--base-color);
        opacity: 0.7;
    }
    nav .nav-group {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        bottom: 0;
        background-color: var(--base-secondary);
        width: 300px;
        transition: 0.3s ease;
    }
    #sidebar-check:checked ~ .nav-group{
        right: 0;
    }
    nav .nav-links, nav .nav-btns{
        display: contents;
    }
    nav .nav-btns .nav-btn, nav .nav-links .nav-link {
        display: block;
        width: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: var(--base-secondary);
        border: none;
    }
    nav .nav-btns .nav-btn:hover, nav .nav-links .nav-link:hover {
        background-color: var(--accent-hover);
        text-decoration: none;
    }
    #sidebar-close{
        padding: 1rem;
        cursor: pointer;
    }
}